page-home {

	.segment-md .segment-button{
		color: white;
	}

	.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
		border-color: white;
	}

    .logout {
        color: white;
        text-emphasis-style: none;
    }

    ion-menu[side="left"] > .menu-inner {
    	width: 75%;
    }

    .cartBtn {
    	z-index: 1000;
    }
}