.toolbar-background {
    background-color: #90A4AE;
}

.toolbar ion-title {
    color: #ffffff;
    text-align: center;
}

.logoimg {
    width: 50%;
    height: 50%;
}

.logo-row {
    padding-top: 50px;
    padding-bottom: 20px;
}
 
.logo-row ion-row {
     align-items: center;
     text-align: center;
}

.content {
    background: #607D8B;

    ion-menu {
      background: #ffffff;
    }
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
 
    .login-box {
      background: #CFD8DC;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #455a64;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
       color: #ffffff;
     }
 
     .register-btn {
       color: #263238;
       font-size: 0.8em;
     }
  }