<ion-header>
  <ion-navbar>
    <ion-title>Orders</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class = "myContent" padding>
<h2> Current Orders </h2>
<ion-list  *ngIf="meetingArray != null">
  <button ion-item *ngFor="let detail of meetingArray" (click) = "orderDetails()">
    <h2>{{ detail['date'] }}</h2>
    <p>{{ detail['place'] }} • {{ detail['time'] }}</p>
    <ion-badge *ngIf="confirmationValue == true && requestValue == true">Order is confirmed</ion-badge>
    <ion-badge *ngIf="confirmationValue == false && requestValue == true">Order has not been confirmed yet</ion-badge>
    <ion-badge *ngIf="confirmationValue == false && requestValue == false">No stock</ion-badge>
    <ion-icon item-end name = "arrow-forward"></ion-icon>
  </button>
</ion-list>
</ion-content>

<ion-nav #content [root]="rootPage"></ion-nav>
